.body {
    background-color: #D4BE86;
    height:100vh;
    padding:1rem;
    text-align:center;
}
.questions {
    border: 1px solid black;
    padding: 1rem;
    margin:1rem;
  }

.questionTitle{
    text-decoration:underline;
}

.errorMessage {
    background-color: #D4BE86;
}